.DS_Store
.idea
rateMyCourse/templates/rateMyCourse/index.scss
rateMyCourse/templates/rateMyCourse/index.css
rateMyCourse/static/ratemycourse/javascript/test.html
rateMyCourse/static/ratemycourse/javascript/temp.html
*.pyc
__pycache__/
*.pyc
rateMyCourse/templates/rateMyCourse/temp.html

# vs code
.vscode

# document
*.pdf

# back
log.txt

# test

.coverage
test

#settings.py
#authentication.py
front_end/.DS_Store
1.py
front_end/.vscode
