
.navbar-brand1{
    line-height: 20px;
    opacity: 0.31;
    color: rgba(20, 83, 116, 1);
    background-color: rgba(185, 215, 234, 1);
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 30px;
}

.navbar-brand2{
    line-height: 20px;
    opacity: 0.31;
    color: rgba(20, 83, 116, 1);
    background-color: rgba(185, 215, 234, 1);
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    margin-left: 10px;
}


body{
    text-align: center;
    background-color: rgb(247, 251, 252);
}



#announcement{
    position: fixed;
    bottom:270px;
    left: 302px;
    z-index: 23;
    background-color:rgba(185, 215, 235, 0.5);
    border-color: rgb(247, 251, 252);
    border-radius: 20px;
    height: 300px;
    width: 600px;
    margin: 0 auto;
}


#ggdiv{
    color: rgba(20, 83, 116, 1);
    font-size: 50px;
    text-align: center;
    font-family: 方正圆体-标准;
}

#innerdiv{
    color: rgba(20, 83, 116, 1);
    font-size: 20px;
    font-family: 方正圆体-标准;
}

