
.navbar-brand{
    line-height: 20px;
    opacity: 0.31;
    border-radius: 20px;
    background-color: rgba(20, 83, 116, 1);
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    
}


body{
    background-color: rgb(247, 251, 252);
}


/*#navbarContainer{
    background-color: rgb(154, 174, 197);
}*/

#announcement{
    position: fixed;
    bottom:270px;
    left: 302px;
    z-index: 23;
    background-color: rgb(185, 215, 234);
    border-color: rgb(247, 251, 252);
    border-radius: 20px;
    height: 300px;
    width: 600px;
}


#ggdiv{
    color: rgba(20, 83, 116, 1);
    font-size: 50px;
    text-align: center;
    font-family: 方正圆体-标准;
}

#innerdiv{
    color: rgba(20, 83, 116, 1);
    font-size: 20px;
    font-family: 方正圆体-标准;
}